@model MVCLabb.Models.UserViewModel
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <p>
        @Html.ValidationSummary(true)
    </p>
    <div class="form-group">
        @Html.LabelFor(u => u.Email, new { @class = "control-label" })
        <div>
            @Html.TextBoxFor(u => u.Email, new { @class = "form-control", Placeholder = "Password" })
            @Html.ValidationMessageFor(u => u.Email, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(u => u.Password, new { @class = "control-label" })
        <div>

            @Html.PasswordFor(u => u.Password, new { @class = "form-control", Placeholder = "Password" })
        </div>
    </div>
    <br />
    @Html.ActionLink("Register a new account?", "Registration");
    <button type="submit" class="btn btn-default">Login</button>

    
}

