@model List<MVCLabb.Models.GalleryViewModel>
@{
    ViewBag.Title = "Galleries";
}
@if (User.Identity.IsAuthenticated)
{
    <div>
        <h3>  @Html.ActionLink("Add new gallery", "Create", "Gallery", null, new { id="creategallerybtn" })</h3>
        <p>

            @if (ViewData["GalleryInfo"] != null)
            {
                @ViewData["GalleryInfo"]
            }
        </p>
    </div>
}
<h2>@ViewBag.Title</h2>
<div class="row">
    <div class="col-md-2">
        @Html.LabelFor(m => m[0].GalleryName)
    </div>
    <div class="col-md-2">

        @Html.LabelFor(m => m[0].DateCreated)
    </div>
    <div class="col-md-2">
        @Html.Label("Creator")
    </div>
    <div class="col-md-2">
        @Html.LabelFor(m => m[0].GalleryName)
    </div>
    <div class="col-md-2">
        @Html.Label("Navigation")
    </div>
</div>
<div id="gallerylistcontainer">

    @Html.Action("GalleryList")
    @*@Html.Partial("_GalleryListView", gallery)*@

</div>
@section scripts{
<script src="~/Scripts/gallerylist.js"></script>
}