@model GalleryViewModel

<div class="row thumbnail">
    <div class="col-md-2">
        @Html.DisplayFor(m => m.GalleryName)
    </div>
    <div class="col-md-2">

        @Html.DisplayFor(m => m.DateCreated)
    </div>
    <div class="col-md-2">
        @Html.DisplayFor(m => m.User.FullName)
    </div>
    <div class="col-md-2">
        @Html.DisplayFor(m => m.GalleryName)

    </div>
    <div class="col-md-2"   >
        @Html.ActionLink("View Gallery", "ViewGallery", new { id = Model.id}, null)
    </div>
</div>